%p#notice= notice

%p
  %b Merchant:
  = @merchant.merchant_id
%p
  %b Date created:
  = @merchant.date_created
%p
  %b Date modified:
  = @merchant.date_modified
%p
  %b Name:
  = @merchant.name
%p
  %b Avatar path:
  = @merchant.avatar_path
%p
  %b Items count:
  = @merchant.items_count

= link_to 'Edit', edit_merchant_path(@merchant)
\|
= link_to 'Back', merchants_path
