.container.logo
  .row
    .col-xs-4.col-xs-offset-4
      %a{href: "/"}
        %img{alt: "", src: "assets/logo.png"}
.container.menu
  .row
    .col-xs-12
      %ul
        %li
          %a{href: "/"} Product Page
        %li
          %a{href: "/"} Product Search
        %li
          %a{href: "/"} Commission Factory
        %br{style: "clear: both"}
.container.title
  .row
    .col-xs-6.col-xs-offset-3
      %h1 WORLD'S PREMIER ONLINE FASHION DIRECTORY
.container.item_name
  .row
    .col-xs-12
      %p Products
.container.main_content
  .row
    %table.table.table-hover
      %tr
        %th Query
        %th Amazon Search Index
        %th
      %tr
        %td
          = search_form_for @q, url: search_data_feeds_path, method: :post do |f|
            = f.text_field :name_cont, :placeholder => "Enter product name"
            %div.field
              Sort:
              = f.sort_fields do |s|
                = s.sort_select
            %div.actions
              = f.submit "Search"

        %td
          %select.form-control{name: "AmazonSearchIndex"}
            %option{value: "Apparel"} Apparel
            %option{value: "Automotive"} Automotive
            %option{value: "Books"} Books
            %option{value: "DVD"} DVD
            %option{value: "Electronics"} Electronics
            %option{value: "GourmetFood"} GourmetFood
            %option{value: "Grocery"} Grocery
            %option{value: "HealthPersonalCare"} HealthPersonalCare
            %option{value: "HomeGarden"} HomeGarden
            %option{value: "Kitchen"} Kitchen
            %option{value: "Music"} Music
            %option{value: "PCHardware"} PCHardware
            %option{value: "Shoes"} Shoes
            %option{value: "Software"} Software
            %option{value: "SportingGoods"} SportingGoods
            %option{value: "Tools"} Tools
            %option{value: "Toys"} Toys
            %option{value: "VHS"} VHS
            %option{value: "VideoGames"} VideoGames
        %td{align: "center", colspan: "2"}
          %input.btn.btn-primary{name: "submit", type: "submit", value: "Search"}
  %br{style: "clear: both"}

%h1 Listing data_feeds

%table
  %tr
    %th Merchant
    %th Product
    %th Date created
    %th Date modified
    %th Sku
    %th Name
    %th Category
    %th Description
    %th Target url
    %th Image url
    %th Avatar url
    %th Price
    %th Barnd
    %th Colour
    %th Currency
    %th Gender
    %th
    %th
    %th

  - @data_feeds.each do |data_feed|
    %tr
      %td= data_feed.merchant_id
      %td= data_feed.product_id
      %td= data_feed.date_created
      %td= data_feed.date_modified
      %td= data_feed.sku
      %td= data_feed.name
      %td= data_feed.category
      %td= data_feed.description
      %td= data_feed.target_url
      %td= data_feed.image_url
      %td= data_feed.avatar_url
      %td= data_feed.price
      %td= data_feed.barnd
      %td= data_feed.colour
      %td= data_feed.currency
      %td= data_feed.gender
      %td= link_to 'Show', data_feed
      %td= link_to 'Edit', edit_data_feed_path(data_feed)
      %td= link_to 'Destroy', data_feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Data feed', new_data_feed_path
