%h1 Listing data_feeds

%table
  %tr
    %th Merchant
    %th Product
    %th Date created
    %th Date modified
    %th Sku
    %th Name
    %th Category
    %th Description
    %th Target url
    %th Image url
    %th Avatar url
    %th Price
    %th Barnd
    %th Colour
    %th Currency
    %th Gender
    %th
    %th
    %th

  - @data_feeds.each do |data_feed|
    %tr
      %td= data_feed.merchant_id
      %td= data_feed.product_id
      %td= data_feed.date_created
      %td= data_feed.date_modified
      %td= data_feed.sku
      %td= data_feed.name
      %td= data_feed.category
      %td= data_feed.description
      %td= data_feed.target_url
      %td= data_feed.image_url
      %td= data_feed.avatar_url
      %td= data_feed.price
      %td= data_feed.barnd
      %td= data_feed.colour
      %td= data_feed.currency
      %td= data_feed.gender
      %td= link_to 'Show', data_feed
      %td= link_to 'Edit', edit_data_feed_path(data_feed)
      %td= link_to 'Destroy', data_feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Data feed', new_data_feed_path
