.container.item_name
  .row
    .col-xs-12
      %p.text-center= "#{@data_feed.barnd}. #{@data_feed.name}"
%br
%br
.container

  .col-xs-6
    = image_tag @data_feed.image_url
  .col-xs-6
    %br
    %br
    %p= @data_feed.price
    %hr

    %p= @data_feed.description
    %hr

    %p= link_to @data_feed.target_url, @data_feed.target_url, target: "_blank" 
    %hr
    %p= @data_feed.date_created
    %hr
    %p= @data_feed.date_modified
