%p#notice= notice

%p
  %b Merchant:
  = @data_feed.merchant_id
%p
  %b Product:
  = @data_feed.product_id
%p
  %b Date created:
  = @data_feed.date_created
%p
  %b Date modified:
  = @data_feed.date_modified
%p
  %b Sku:
  = @data_feed.sku
%p
  %b Name:
  = @data_feed.name
%p
  %b Category:
  = @data_feed.category
%p
  %b Description:
  = @data_feed.description
%p
  %b Target url:
  = @data_feed.target_url
%p
  %b Image url:
  = @data_feed.image_url
%p
  %b Avatar url:
  = @data_feed.avatar_url
%p
  %b Price:
  = @data_feed.price
%p
  %b Barnd:
  = @data_feed.barnd
%p
  %b Colour:
  = @data_feed.colour
%p
  %b Currency:
  = @data_feed.currency
%p
  %b Gender:
  = @data_feed.gender

= link_to 'Edit', edit_data_feed_path(@data_feed)
\|
= link_to 'Back', data_feeds_path
