!!!
%html
  %head
    %meta{charset: "utf-8", :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Foenix'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Cfdft'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container.logo
        .row
          .col-xs-4.col-xs-offset-4
            %a{href: "/"}
              %img{alt: "", src: "assets/logo.png"}
      .container.title
        .row
          .col-xs-6.col-xs-offset-3
            %h1 WORLD'S PREMIER ONLINE FASHION DIRECTORY
      = yield
